<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Translucency Parallax</string>
			<key>footerText</key>
			<string>Temporary Preferences Panel</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>tk.ethanrdoesmc.parallaxpreferences</string>
			<key>key</key>
			<string>ParallaxEnabledMain</string>
			<key>label</key>
			<string>Enable Translucency Parallax</string>
		</dict>
	</array>
	<key>title</key>
	<string>ParallaxPreferences</string>
</dict>
</plist>
